In [81]:
# import data

import pandas as pd

data = pd.read_excel('houses_to_rent.xlsx')

data

,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,hoa,rent_amount,property_tax,fire_insurance,total
0,1,240,3,3,4,-,acept,furnished,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,0,64,2,1,1,10,acept,not furnished,R$540,R$820,R$122,R$11,"R$1,493"
2,1,443,5,5,4,3,acept,furnished,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,1,73,2,2,1,12,acept,not furnished,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,1,19,1,1,0,-,not acept,not furnished,R$0,"R$1,200",R$41,R$16,"R$1,257"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6075,1,50,2,1,1,2,acept,not furnished,R$420,"R$1,150",R$0,R$15,"R$1,585"
6076,1,84,2,2,1,16,not acept,furnished,R$768,"R$2,900",R$63,R$37,"R$3,768"
6077,0,48,1,1,0,13,acept,not furnished,R$250,R$950,R$42,R$13,"R$1,255"
6078,1,160,3,2,2,-,not acept,not furnished,R$0,"R$3,500",R$250,R$53,"R$3,803"
6079,1,60,2,1,1,4,acept,furnished,R$489,"R$1,900",R$0,R$25,"R$2,414"

In [82]:
# find all unique city

all_city = data['city'].unique()
print("City array: {0}".format(all_city))

# find all unique animal

all_country = data['animal'].unique()
print("Animal array: {0}".format(all_country))

# find all unique furniture

all_country = data['animal'].unique()
print("Furniture array: {0}".format(all_country))

City array: [1 0]
Animal array: ['acept' 'not acept']
Furniture array: ['acept' 'not acept']

In [83]:
# get city

city_list = pd.DataFrame(data['city'].unique(), columns=['city'])
city_list.index.name = 'id'
city_list

    city
id
0      1
1      0

In [84]:
# get animal

animal_list = pd.DataFrame(data['animal'].unique(), columns=['animal'])
animal_list.index.name = 'id'
animal_list

       animal
id
0       acept
1   not acept

In [85]:
# get furniture

furniture_list = pd.DataFrame(data['furniture'].unique(), columns=['furniture'])
furniture_list.index.name = 'id'
furniture_list

        furniture
id
0       furnished
1   not furnished

In [86]:
# get area and population

house = data[['city','area', 'rooms', 'bathroom', 'parking_spaces', 'floor', 'animal', 'furniture', 'hoa', 'rent_amount', 'property_tax', 'fire_insurance', 'total']].drop_duplicates().reset_index().drop(columns = ['index']);
house.index.name = 'id'

house = house.rename(columns = {'city':'city_id', 'animal':'animal_id', 'furniture':'furniture_id'})

house['city_id'] = house['city_id'].map(lambda x:  city_list[city_list['city'] == x].index.values.astype(int)[0])
house['animal_id'] = house['animal_id'].map(lambda x:  animal_list[animal_list['animal'] == x].index.values.astype(int)[0])
house['furniture_id'] = house['furniture_id'].map(lambda x:  furniture_list[furniture_list['furniture'] == x].index.values.astype(int)[0])
house

,city_id,area,rooms,bathroom,parking_spaces,floor,animal_id,furniture_id,hoa,rent_amount,property_tax,fire_insurance,total
id,,,,,,,,,,,,,
0,0,240,3,3,4,-,0,0,R$0,"R$8,000","R$1,000",R$121,"R$9,121"
1,1,64,2,1,1,10,0,1,R$540,R$820,R$122,R$11,"R$1,493"
2,0,443,5,5,4,3,0,0,"R$4,172","R$7,000","R$1,417",R$89,"R$12,680"
3,0,73,2,2,1,12,0,1,R$700,"R$1,250",R$150,R$16,"R$2,116"
4,0,19,1,1,0,-,1,1,R$0,"R$1,200",R$41,R$16,"R$1,257"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5877,0,50,2,1,1,2,0,1,R$420,"R$1,150",R$0,R$15,"R$1,585"
5878,0,84,2,2,1,16,1,0,R$768,"R$2,900",R$63,R$37,"R$3,768"
5879,1,48,1,1,0,13,0,1,R$250,R$950,R$42,R$13,"R$1,255"
5880,0,160,3,2,2,-,1,1,R$0,"R$3,500",R$250,R$53,"R$3,803"
5881,0,60,2,1,1,4,0,0,R$489,"R$1,900",R$0,R$25,"R$2,414"

In [87]:
#Table definition and insert data

from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

db_string = "postgres://jeajskwegjcatx:6e76597fb621ddf9e98e549b24aabff7f4b2ecaa810d3e7cc32d03f995f72023@ec2-54-246-87-132.eu-west-1.compute.amazonaws.com:5432/de5605u5ultnet"

engine = create_engine(db_string)

Base = declarative_base()

# Import column structure and constraints

from sqlalchemy import Column, Integer, String, Float, ForeignKey, Sequence, CheckConstraint, UniqueConstraint

class City(Base):
    __tablename__ = 'cities'
    __table_args__ = (
        CheckConstraint('length(city) > 0'),
        UniqueConstraint('city')
    )
    id = Column(Integer, Sequence('seq_city_id'), primary_key = True)
    city = Column(String, nullable = False)
    
class Animal(Base):
    __tablename__ = 'animals'
    __table_args__ = (
        CheckConstraint('length(animal) > 0'),
        UniqueConstraint('animal')
    )
    id = Column(Integer, Sequence('seq_animal_id'), primary_key = True)
    animal = Column(String(50), nullable = False)

class Furniture(Base):
    __tablename__ = 'furnitures'
    __table_args__ = (
        CheckConstraint('length(furniture) > 0'),
        UniqueConstraint('furniture')
    )
    id = Column(Integer, Sequence('seq_furniture_id'), primary_key = True)
    furniture = Column(String(50), nullable = False)
    
class House_data(Base):
    __tablename__ = 'house_data'
    __table_args__ = (
        CheckConstraint('area > 0'),
        CheckConstraint('rooms > 0'),
        CheckConstraint('bathroom > 0'),
        CheckConstraint('parking_spaces >= 0'),
        #CheckConstraint('floor >= 0', 'floor = 0'),
        CheckConstraint('length(hoa) > 0'),
        CheckConstraint('length(rent_amount) > 0'),
        CheckConstraint('length(property_tax) > 0'),
        CheckConstraint('length(fire_insurance) > 0'),
        CheckConstraint('length(total) > 0'),
    )
    id = Column(Integer, Sequence('seq_house_data_id'), primary_key=True )
    city_id = Column(Integer, ForeignKey('cities.id'))
    area = Column(Integer, nullable = False,  default=0)
    rooms = Column(Integer, nullable = False,  default=0)
    bathroom = Column(Integer, nullable = False,  default=0)
    parking_spaces = Column(Integer, default=0)
    floor = Column(String(5), nullable = True, default='-')
    animal_id = Column(Integer, ForeignKey('animals.id'))
    furniture_id = Column(Integer, ForeignKey('furnitures.id'))
    hoa = Column(String(10), nullable = True, default="R$0")
    rent_amount = Column(String(10), nullable = True, default="R$0")
    property_tax = Column(String(10), nullable = True, default="R$0")
    fire_insurance = Column(String(10), nullable = True, default="R$0")
    total = Column(String(10), nullable = True, default="R$0")
    
Base.metadata.create_all(engine)

In [88]:
city_list.to_sql('cities',engine, if_exists='append')

In [89]:
animal_list.to_sql('animals',engine, if_exists='append')

In [90]:
furniture_list.to_sql('furnitures',engine, if_exists='append')

In [91]:
house.to_sql('house_data',engine, if_exists='append')