In [20]:
from sqlalchemy import create_engine

db_string = "postgres://wbauer_adb:adb2020@pgsql-196447.vipserv.org:5432/wbauer_adb"

engine = create_engine(db_string)

In [15]:
from sqlalchemy import MetaData, Table

from sqlalchemy import select

metadata = MetaData()

dic_table = {}
for table_name in engine.table_names():
    dic_table[table_name] = Table(table_name, metadata , autoload=True, autoload_with=engine)

In [14]:
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

from sqlalchemy import Column, Integer, Float, String, Date, ForeignKey

from sqlalchemy import or_, and_

session = (sessionmaker(bind=engine))()

Base = declarative_base()

In [ ]:
### 1. How many categories of films we have in the rental?

In [17]:
mapper_stmt = select([dic_table['category'].columns.name.label('category name')])
%timeit mapper_stmt

mapper_results = engine.execute(mapper_stmt).fetchall()

print(len(mapper_results))

90.2 ns ± 8.48 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
16

In [5]:
class Category(Base):
    __tablename__ = 'category'
    __table_args__ = {'extend_existing': True}
    category_id  = Column(Integer, primary_key=True)
    name = Column(String(50))
    last_update  = Column(Date)
    def __str__(self):
        return 'Category id:{0}\nCategory name: {1}\nCategory last_update: {2}'.format(self.category_id,self.name,self.last_update)

session_stmt = session.query(Category.name.label('category name'))
%timeit session_stmt

session_results = session_stmt.all()
print(len(session_results))

59 ns ± 5.76 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
16

### 2. Display list of categories in alphabetic order.

In [6]:
mapper_stmt = select([dic_table['category'].columns.name]).order_by(dic_table['category'].columns.name)
%timeit mapper_stmt

mapper_results = engine.execute(mapper_stmt).fetchall()
for name in mapper_results:
    print(name[0])

63.9 ns ± 7.88 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
Action
Animation
Children
Classics
Comedy
Documentary
Drama
Family
Foreign
Games
Horror
Music
New
Sci-Fi
Sports
Travel

In [7]:
session_stmt = session.query(Category.name).order_by(Category.name)
%timeit session_stmt

session_results = session_stmt.all()
for name in session_results:
    print(name[0])

80.5 ns ± 19.9 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
Action
Animation
Children
Classics
Comedy
Documentary
Drama
Family
Foreign
Games
Horror
Music
New
Sci-Fi
Sports
Travel

### 3. Find the oldest and youngest film in rental.

In [8]:
mapper_stmt = select([dic_table['film'].columns.title, dic_table['rental'].columns.last_update]).\
where(and_(\
          dic_table['rental'].columns.inventory_id == dic_table['inventory'].columns.inventory_id,\
          dic_table['inventory'].columns.film_id == dic_table['film'].columns.film_id)).\
order_by(dic_table['rental'].columns.last_update).limit(1)
%timeit mapper_stmt

mapper_results = engine.execute(mapper_stmt).fetchall()

print(f'Youngest film is "{mapper_results[0][0]}" and its update date is {mapper_results[0][1]} \n')

mapper_stmt = select([dic_table['film'].columns.title, dic_table['rental'].columns.last_update]).\
where(and_(\
          dic_table['rental'].columns.inventory_id == dic_table['inventory'].columns.inventory_id,\
          dic_table['inventory'].columns.film_id == dic_table['film'].columns.film_id)).\
order_by(dic_table['rental'].columns.last_update.desc()).limit(1)
%timeit mapper_stmt

mapper_results = engine.execute(mapper_stmt).fetchall()

print(f'Oldest film is "{mapper_results[0][0]}" and its update date is {mapper_results[0][1]}')

62.7 ns ± 3.05 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
Youngest film is "Blanket Beverly" and its update date is 2006-02-15 21:30:53

67 ns ± 5.97 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
Oldest film is "Academy Dinosaur" and its update date is 2006-02-23 09:12:08

In [9]:
class Rental(Base):
    __tablename__ = 'rental'
    __table_args__ = {'extend_existing': True}
    rental_id  = Column(Integer, primary_key=True)
    rental_date = Column(Date)
    inventory_id = Column(Integer)
    customer_id = Column(Integer)
    last_update  = Column(Date)
    
class Inventory(Base):
    __tablename__ = 'inventory'
    __table_args__ = {'extend_existing': True}
    inventory_id  = Column(Integer, primary_key=True)
    film_id = Column(Integer)
    last_upadate  = Column(Date)
    
class Film(Base):
    __tablename__ = 'film'
    __table_args__ = {'extend_existing': True}
    film_id  = Column(Integer, primary_key=True)
    title = Column(String(50))

session_stmt = session.query(Film.title, Rental.last_update).\
filter(and_(\
            Rental.inventory_id == Inventory.inventory_id,\
            Inventory.film_id == Film.film_id)).\
order_by(Rental.last_update).limit(1)
%timeit session_stmt

session_results = session_stmt.all()
print(f'Youngest film is "{session_results[0][0]}" and its update date is {session_results[0][1]} \n')

session_stmt = session.query(Film.title, Rental.last_update).\
filter(and_(\
            Rental.inventory_id == Inventory.inventory_id,\
            Inventory.film_id == Film.film_id)).\
order_by(Rental.last_update.desc()).limit(1)
%timeit session_stmt

session_results = session_stmt.all()
print(f'Oldest film is "{session_results[0][0]}" and its update date is {session_results[0][1]}')

66.2 ns ± 7.3 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
Youngest film is "Blanket Beverly" and its update date is 2006-02-15 21:30:53

63 ns ± 4.94 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
Oldest film is "Academy Dinosaur" and its update date is 2006-02-23 09:12:08

### 4. How many rentals were in between 2005-07-01 and 2005-08-01?

In [10]:
mapper_stmt = select([dic_table['rental'].columns.rental_date]).\
where(and_(\
          dic_table['rental'].columns.rental_date >= '2005-07-01',\
          dic_table['rental'].columns.rental_date < '2005-08-01'))
%timeit mapper_stmt

mapper_results = engine.execute(mapper_stmt).fetchall()

print(f'Between 2005-07-01 and 2005-08-01 there were {len(mapper_results)} rentals')

61.4 ns ± 2.92 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
Between 2005-07-01 and 2005-08-01 there were 6709 rentals

In [11]:
#session_stmt = session.query(Rental.rental_date).filter(Rental.rental_date.between('2005-07-01', '2005-08-01'))
session_stmt = session.query(Rental.rental_date).\
filter(and_(\
            Rental.rental_date >= '2005-07-01',\
            Rental.rental_date <= '2005-08-01'))
%timeit session_stmt

session_results = session_stmt.all()
print(f'Between 2005-07-01 and 2005-08-01 there were {len(session_results)} rentals')

68 ns ± 10.2 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
Between 2005-07-01 and 2005-08-01 there were 6709 rentals

### 5. How many rentals were in between 2010-01-01 and 2011-02-01?

In [12]:
mapper_stmt = select([dic_table['rental'].columns.rental_date]).\
where(and_(\
          dic_table['rental'].columns.rental_date >= '2010-01-01',\
          dic_table['rental'].columns.rental_date < '2011-02-01'))
%timeit mapper_stmt

mapper_results = engine.execute(mapper_stmt).fetchall()

print(f'Between 2010-01-01 and 2011-02-01 there were {len(mapper_results)} rentals')

68.1 ns ± 5.45 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
Between 2010-01-01 and 2011-02-01 there were 0 rentals

In [13]:
#session_stmt = session.query(Rental.rental_date).filter(Rental.rental_date.between('2010-01-01', '2011-02-01'))
session_stmt = session.query(Rental.rental_date).\
filter(and_(\
            Rental.rental_date >= '2010-01-01',\
            Rental.rental_date <= '2011-02-01'))
%timeit session_stmt

session_results = session_stmt.all()
print(f'Between 2010-01-01 and 2011-02-01 there were {len(session_results)} rentals')

61.7 ns ± 3.11 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
Between 2010-01-01 and 2011-02-01 there were 0 rentals

### 6. Find the biggest payment in the rental.

In [14]:
mapper_stmt = select([dic_table['payment'].columns.amount]).\
order_by(dic_table['payment'].columns.amount.desc()).limit(1)
%timeit mapper_stmt

mapper_results = engine.execute(mapper_stmt).fetchall()

print(f'Biggest payment was {mapper_results[0][0]}')

67.2 ns ± 4.96 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
Biggest payment was 11.99

In [15]:
class Payment(Base):
    __tablename__ = 'payment'
    __table_args__ = {'extend_existing': True}
    payment_id  = Column(Integer, primary_key=True)
    amount  = Column(Float)

session_stmt = session.query(Payment.amount).\
order_by(Payment.amount.desc())
%timeit session_stmt

session_results = session_stmt.all()
print(f'Biggest payment was {session_results[0][0]}')

67 ns ± 5.22 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
Biggest payment was 11.99

### 7. Find all customers from Polend or Nigeria or Bangladesh.

In [16]:
mapper_stmt = select([dic_table['customer'].columns.first_name, dic_table['customer'].columns.last_name,\
                     dic_table['country'].columns.country]).\
where(and_(\
          dic_table['customer'].columns.address_id == dic_table['address'].columns.address_id,\
          dic_table['address'].columns.city_id == dic_table['city'].columns.city_id,\
          dic_table['city'].columns.country_id == dic_table['country'].columns.country_id,\
          or_(\
             dic_table['country'].columns.country == 'Poland',\
             dic_table['country'].columns.country == 'Nigeria',\
             dic_table['country'].columns.country == 'Bangladesh')))
%timeit mapper_stmt

mapper_results = engine.execute(mapper_stmt).fetchall()

for customer in mapper_results:
    print(f'First name: {customer[0]:<10} Last name: {customer[1]:<10} Country: {customer[2]}')

65 ns ± 5.38 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
First name: Sonia      Last name: Gregory    Country: Nigeria
First name: Brian      Last name: Wyman      Country: Poland
First name: Sidney     Last name: Burleson   Country: Poland
First name: Rodney     Last name: Moeller    Country: Nigeria
First name: Stephen    Last name: Qualls     Country: Bangladesh
First name: Velma      Last name: Lucas      Country: Nigeria
First name: Marilyn    Last name: Ross       Country: Nigeria
First name: Elsie      Last name: Kelley     Country: Nigeria
First name: Gladys     Last name: Hamilton   Country: Nigeria
First name: Frank      Last name: Waggoner   Country: Bangladesh
First name: Marjorie   Last name: Tucker     Country: Poland
First name: Carol      Last name: Garcia     Country: Nigeria
First name: Leah       Last name: Curtis     Country: Poland
First name: Ruben      Last name: Geary      Country: Poland
First name: Olga       Last name: Jimenez    Country: Nigeria
First name: Bertha     Last name: Ferguson   Country: Nigeria
First name: Tracey     Last name: Barrett    Country: Nigeria
First name: Jo         Last name: Fowler     Country: Nigeria
First name: Johnnie    Last name: Chisholm   Country: Poland
First name: Wallace    Last name: Slone      Country: Nigeria
First name: Michelle   Last name: Clark      Country: Bangladesh
First name: Russell    Last name: Brinson    Country: Poland
First name: Jimmie     Last name: Eggleston  Country: Poland
First name: Constance  Last name: Reid       Country: Nigeria

In [17]:
class Customer(Base):
    __tablename__ = 'customer'
    __table_args__ = {'extend_existing': True}
    customer_id  = Column(Integer, primary_key=True)
    first_name  = Column(String(50))
    last_name = Column(String(50))
    address_id = Column(Integer)
    
class Address(Base):
    __tablename__ = 'address'
    __table_args__ = {'extend_existing': True}
    address_id  = Column(Integer, primary_key=True)
    city_id = Column(Integer)
    
class City(Base):
    __tablename__ = 'city'
    __table_args__ = {'extend_existing': True}
    city_id  = Column(Integer, primary_key=True)
    country_id = Column(Integer)
    
class Country(Base):
    __tablename__ = 'country'
    __table_args__ = {'extend_existing': True}
    country_id  = Column(Integer, primary_key=True)
    country = Column(String(50))

session_stmt = session.query(Customer.first_name, Customer.last_name, Country.country).\
filter(and_(\
          Customer.address_id == Address.address_id,\
          Address.city_id == City.city_id,\
          City.country_id == Country.country_id,\
          or_(\
             Country.country == 'Poland',\
             Country.country == 'Nigeria',\
             Country.country == 'Bangladesh')))
%timeit session_stmt

session_results = session_stmt.all()

for customer in session_results:
    print(f'First name: {customer[0]:<10} Last name: {customer[1]:<10} Country: {customer[2]}')

61.6 ns ± 4 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
First name: Sonia      Last name: Gregory    Country: Nigeria
First name: Brian      Last name: Wyman      Country: Poland
First name: Sidney     Last name: Burleson   Country: Poland
First name: Rodney     Last name: Moeller    Country: Nigeria
First name: Stephen    Last name: Qualls     Country: Bangladesh
First name: Velma      Last name: Lucas      Country: Nigeria
First name: Marilyn    Last name: Ross       Country: Nigeria
First name: Elsie      Last name: Kelley     Country: Nigeria
First name: Gladys     Last name: Hamilton   Country: Nigeria
First name: Frank      Last name: Waggoner   Country: Bangladesh
First name: Marjorie   Last name: Tucker     Country: Poland
First name: Carol      Last name: Garcia     Country: Nigeria
First name: Leah       Last name: Curtis     Country: Poland
First name: Ruben      Last name: Geary      Country: Poland
First name: Olga       Last name: Jimenez    Country: Nigeria
First name: Bertha     Last name: Ferguson   Country: Nigeria
First name: Tracey     Last name: Barrett    Country: Nigeria
First name: Jo         Last name: Fowler     Country: Nigeria
First name: Johnnie    Last name: Chisholm   Country: Poland
First name: Wallace    Last name: Slone      Country: Nigeria
First name: Michelle   Last name: Clark      Country: Bangladesh
First name: Russell    Last name: Brinson    Country: Poland
First name: Jimmie     Last name: Eggleston  Country: Poland
First name: Constance  Last name: Reid       Country: Nigeria

### 8. Where live staff memebers?

In [18]:
mapper_stmt = select([dic_table['country'].columns.country]).\
where(and_(\
          dic_table['staff'].columns.address_id == dic_table['address'].columns.address_id,\
          dic_table['address'].columns.city_id == dic_table['city'].columns.city_id,\
          dic_table['city'].columns.country_id == dic_table['country'].columns.country_id))
%timeit mapper_stmt

mapper_results = engine.execute(mapper_stmt).fetchall()

for country in mapper_results:
    print(country[0])

62.7 ns ± 3.18 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
Canada
Australia

In [19]:
class Staff(Base):
    __tablename__ = 'staff'
    __table_args__ = {'extend_existing': True}
    staff_id  = Column(Integer, primary_key=True)
    first_name  = Column(String(50))
    last_name = Column(String(50))
    address_id = Column(Integer)
    
session_stmt = session.query(Country.country).\
filter(and_(\
          Staff.address_id == Address.address_id,\
          Address.city_id == City.city_id,\
          City.country_id == Country.country_id))
%timeit session_stmt

session_results = session_stmt.all()

for customer in session_results:
    print(customer[0])

59.1 ns ± 1.9 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
Canada
Australia

### 9. How many staff members live in Argentina or Spain?

In [20]:
mapper_stmt = select([dic_table['staff'].columns.staff_id, dic_table['country'].columns.country]).\
where(and_(\
          dic_table['staff'].columns.address_id == dic_table['address'].columns.address_id,\
          dic_table['address'].columns.city_id == dic_table['city'].columns.city_id,\
          dic_table['city'].columns.country_id == dic_table['country'].columns.country_id,\
          or_(\
              dic_table['country'].columns.country == 'Argentina',\
              dic_table['country'].columns.country == 'Spain')))
%timeit mapper_stmt

mapper_results = engine.execute(mapper_stmt).fetchall()

print(f'In Argentina or spain lives {len(mapper_results)} people')

60.1 ns ± 0.95 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
In Argentina or spain lives 0 people

In [21]:
session_stmt = session.query(Country.country).\
filter(and_(\
    Staff.address_id == Address.address_id,\
    Address.city_id == City.city_id,\
    City.country_id == Country.country_id,
    or_(\
        Country.country == 'Argentina',\
        Country.country == 'Spain')))
%timeit session_stmt

session_results = session_stmt.all()

print(f'In Argentina or spain lives {len(session_results)} people')

58 ns ± 2.5 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
In Argentina or spain lives 0 people

### 10. Which categories of the films were rented by clients?

In [22]:
mapper_stmt = select([dic_table['category'].columns.name]).\
where(and_(\
          dic_table['category'].columns.category_id == dic_table['film_category'].columns.category_id,\
          dic_table['film_category'].columns.film_id == dic_table['film'].columns.film_id,\
          dic_table['film'].columns.film_id == dic_table['inventory'].columns.film_id,\
          dic_table['inventory'].columns.inventory_id == dic_table['rental'].columns.inventory_id))
%timeit mapper_stmt

mapper_results = engine.execute(mapper_stmt).fetchall()

unique_categories=[]
for category in mapper_results:
    if category not in unique_categories:
        unique_categories.append(category)
        print(category[0])

58.1 ns ± 2.67 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
Music
Children
Horror
Comedy
Animation
Foreign
Drama
Travel
Family
Documentary
Sci-Fi
Action
Games
Sports
New
Classics

In [23]:
class Film_category(Base):
    __tablename__ = 'film_category'
    __table_args__ = {'extend_existing': True}
    film_id  = Column(Integer, primary_key=True)
    category_id  = Column(Integer)

session_stmt = session.query(Category.name).\
filter(and_(\
          Category.category_id == Film_category.category_id,\
          Film_category.film_id == Film.film_id,\
          Film.film_id == Inventory.film_id,\
          Inventory.inventory_id == Rental.inventory_id))
%timeit session_stmt

session_results = session_stmt.all()

unique_categories=[]
for category in session_results:
    if category not in unique_categories:
        unique_categories.append(category)
        print(category[0])

59.7 ns ± 1.64 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
Music
Children
Horror
Comedy
Animation
Foreign
Drama
Travel
Family
Documentary
Sci-Fi
Action
Games
Sports
New
Classics

### 11. Find all categories of films rented in America.

In [24]:
mapper_stmt = select([dic_table['category'].columns.name]).\
where(and_(\
          dic_table['category'].columns.category_id == dic_table['film_category'].columns.category_id,\
          dic_table['film_category'].columns.film_id == dic_table['film'].columns.film_id,\
          dic_table['film'].columns.film_id == dic_table['inventory'].columns.film_id,\
          dic_table['inventory'].columns.inventory_id == dic_table['rental'].columns.inventory_id,\
          dic_table['rental'].columns.customer_id == dic_table['customer'].columns.customer_id,\
          dic_table['customer'].columns.address_id == dic_table['address'].columns.address_id,\
          dic_table['address'].columns.city_id == dic_table['city'].columns.city_id,
          dic_table['city'].columns.country_id == dic_table['country'].columns.country_id,
          dic_table['country'].columns.country == "United States"))
%timeit mapper_stmt

mapper_results = engine.execute(mapper_stmt).fetchall()

unique_categories=[]
for category in mapper_results:
    if category not in unique_categories:
        unique_categories.append(category)
        print(category[0])

63.4 ns ± 3.57 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
Documentary
Foreign
Horror
Music
Action
New
Animation
Sports
Family
Classics
Sci-Fi
Games
Children
Drama
Comedy
Travel

In [25]:
session_stmt = session.query(Category.name).\
filter(and_(\
          Category.category_id == Film_category.category_id,\
          Film_category.film_id == Film.film_id,\
          Film.film_id == Inventory.film_id,\
          Inventory.inventory_id == Rental.inventory_id,\
          Rental.customer_id == Customer.customer_id,\
          Customer.address_id == Address.address_id,\
          Address.city_id == City.city_id,
          City.country_id == Country.country_id,
          Country.country == "United States"))
%timeit session_stmt

session_results = session_stmt.all()

unique_categories=[]
for category in session_results:
    if category not in unique_categories:
        unique_categories.append(category)
        print(category[0])

88.8 ns ± 8.13 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
Documentary
Foreign
Horror
Music
Action
New
Animation
Sports
Family
Classics
Sci-Fi
Games
Children
Drama
Comedy
Travel

### 12. Find all title of films where was playe: Olympia Pfeiffer or Julia Zellweger or Ellen Presley

In [26]:
mapper_stmt = select([dic_table['film'].columns.title, dic_table['actor'].columns.first_name, dic_table['actor'].columns.last_name]).\
where(and_(\
          dic_table['film'].columns.film_id == dic_table['film_actor'].columns.film_id,\
          dic_table['film_actor'].columns.actor_id == dic_table['actor'].columns.actor_id,\
          or_(and_(\
                 dic_table['actor'].columns.first_name == 'Olympia',\
                 dic_table['actor'].columns.last_name == 'Pfeiffer'),\
              and_(\
                 dic_table['actor'].columns.first_name == 'Julia',\
                 dic_table['actor'].columns.last_name == 'Zellweger'),\
              and_(\
                 dic_table['actor'].columns.first_name == 'Ellen',\
                 dic_table['actor'].columns.last_name == 'Presley'))))
%timeit mapper_stmt

mapper_results = engine.execute(mapper_stmt).fetchall()

for title in mapper_results:
    print(f'{title[0]:22} - {title[1]} {title[2]}')

72.1 ns ± 9.57 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
Bilko Anonymous        - Ellen Presley
Caribbean Liberty      - Ellen Presley
Casper Dragonfly       - Ellen Presley
Empire Malkovich       - Ellen Presley
Floats Garden          - Ellen Presley
Frogmen Breaking       - Ellen Presley
Homeward Cider         - Ellen Presley
Hyde Doctor            - Ellen Presley
Image Princess         - Ellen Presley
Jacket Frisco          - Ellen Presley
Microcosmos Paradise   - Ellen Presley
Network Peak           - Ellen Presley
Oscar Gold             - Ellen Presley
Pickup Driving         - Ellen Presley
Pinocchio Simon        - Ellen Presley
Private Drop           - Ellen Presley
Roots Remember         - Ellen Presley
Scarface Bang          - Ellen Presley
Secretary Rouge        - Ellen Presley
Spy Mile               - Ellen Presley
Streetcar Intentions   - Ellen Presley
Tadpole Park           - Ellen Presley
Treasure Command       - Ellen Presley
Turn Star              - Ellen Presley
Women Dorado           - Ellen Presley
Badman Dawn            - Olympia Pfeiffer
Chitty Lock            - Olympia Pfeiffer
Color Philadelphia     - Olympia Pfeiffer
Contact Anonymous      - Olympia Pfeiffer
Deep Crusade           - Olympia Pfeiffer
Effect Gladiator       - Olympia Pfeiffer
Express Lonely         - Olympia Pfeiffer
Firehouse Vietnam      - Olympia Pfeiffer
Fugitive Maguire       - Olympia Pfeiffer
Hanky October          - Olympia Pfeiffer
Ice Crossing           - Olympia Pfeiffer
Idols Snatchers        - Olympia Pfeiffer
Intolerable Intentions - Olympia Pfeiffer
Magnolia Forrester     - Olympia Pfeiffer
Mars Roman             - Olympia Pfeiffer
Maude Mod              - Olympia Pfeiffer
Murder Antitrust       - Olympia Pfeiffer
None Spiking           - Olympia Pfeiffer
Others Soup            - Olympia Pfeiffer
Psycho Shrunk          - Olympia Pfeiffer
Santa Paris            - Olympia Pfeiffer
Sense Greek            - Olympia Pfeiffer
Storm Happiness        - Olympia Pfeiffer
Sweet Brotherhood      - Olympia Pfeiffer
Titanic Boondock       - Olympia Pfeiffer
Tourist Pelican        - Olympia Pfeiffer
Traffic Hobbit         - Olympia Pfeiffer
Wait Cider             - Olympia Pfeiffer
Breakfast Goldfinger   - Julia Zellweger
Cranes Reservoir       - Julia Zellweger
Dares Pluto            - Julia Zellweger
Detective Vision       - Julia Zellweger
Divorce Shining        - Julia Zellweger
Hollow Jeopardy        - Julia Zellweger
Jeopardy Encino        - Julia Zellweger
Lambs Cincinatti       - Julia Zellweger
Majestic Floats        - Julia Zellweger
Minds Truman           - Julia Zellweger
Open African           - Julia Zellweger
Outlaw Hanky           - Julia Zellweger
Panky Submarine        - Julia Zellweger
Rider Caddyshack       - Julia Zellweger
Won Dares              - Julia Zellweger
Wyoming Storm          - Julia Zellweger

In [27]:
class Film_actor(Base):
    __tablename__ = 'film_actor'
    __table_args__ = {'extend_existing': True}
    actor_id  = Column(Integer, primary_key=True)
    film_id  = Column(Integer)
    
class Actor(Base):
    __tablename__ = 'actor'
    __table_args__ = {'extend_existing': True}
    actor_id  = Column(Integer, primary_key=True)
    first_name  = Column(String(50))
    last_name  = Column(String(50))

session_stmt = session.query(Film.title, Actor.first_name, Actor.last_name).\
filter(and_(\
        Film.film_id == Film_actor.film_id,\
        Film_actor.actor_id == Actor.actor_id,\
            or_(and_(\
                    Actor.first_name == 'Olympia',\
                    Actor.last_name == 'Pfeiffer'),\
                and_(\
                    Actor.first_name == 'Julia',\
                    Actor.last_name == 'Zellweger'),\
                and_(\
                    Actor.first_name == 'Ellen',\
                    Actor.last_name == 'Presley'))))
%timeit session_stmt

session_results = session_stmt.all()

for title in session_results:
    print(f'{title[0]:22} - {title[1]} {title[2]}')

73.6 ns ± 5.56 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)
Bilko Anonymous        - Ellen Presley
Caribbean Liberty      - Ellen Presley
Casper Dragonfly       - Ellen Presley
Empire Malkovich       - Ellen Presley
Floats Garden          - Ellen Presley
Frogmen Breaking       - Ellen Presley
Homeward Cider         - Ellen Presley
Hyde Doctor            - Ellen Presley
Image Princess         - Ellen Presley
Jacket Frisco          - Ellen Presley
Microcosmos Paradise   - Ellen Presley
Network Peak           - Ellen Presley
Oscar Gold             - Ellen Presley
Pickup Driving         - Ellen Presley
Pinocchio Simon        - Ellen Presley
Private Drop           - Ellen Presley
Roots Remember         - Ellen Presley
Scarface Bang          - Ellen Presley
Secretary Rouge        - Ellen Presley
Spy Mile               - Ellen Presley
Streetcar Intentions   - Ellen Presley
Tadpole Park           - Ellen Presley
Treasure Command       - Ellen Presley
Turn Star              - Ellen Presley
Women Dorado           - Ellen Presley
Badman Dawn            - Olympia Pfeiffer
Chitty Lock            - Olympia Pfeiffer
Color Philadelphia     - Olympia Pfeiffer
Contact Anonymous      - Olympia Pfeiffer
Deep Crusade           - Olympia Pfeiffer
Effect Gladiator       - Olympia Pfeiffer
Express Lonely         - Olympia Pfeiffer
Firehouse Vietnam      - Olympia Pfeiffer
Fugitive Maguire       - Olympia Pfeiffer
Hanky October          - Olympia Pfeiffer
Ice Crossing           - Olympia Pfeiffer
Idols Snatchers        - Olympia Pfeiffer
Intolerable Intentions - Olympia Pfeiffer
Magnolia Forrester     - Olympia Pfeiffer
Mars Roman             - Olympia Pfeiffer
Maude Mod              - Olympia Pfeiffer
Murder Antitrust       - Olympia Pfeiffer
None Spiking           - Olympia Pfeiffer
Others Soup            - Olympia Pfeiffer
Psycho Shrunk          - Olympia Pfeiffer
Santa Paris            - Olympia Pfeiffer
Sense Greek            - Olympia Pfeiffer
Storm Happiness        - Olympia Pfeiffer
Sweet Brotherhood      - Olympia Pfeiffer
Titanic Boondock       - Olympia Pfeiffer
Tourist Pelican        - Olympia Pfeiffer
Traffic Hobbit         - Olympia Pfeiffer
Wait Cider             - Olympia Pfeiffer
Breakfast Goldfinger   - Julia Zellweger
Cranes Reservoir       - Julia Zellweger
Dares Pluto            - Julia Zellweger
Detective Vision       - Julia Zellweger
Divorce Shining        - Julia Zellweger
Hollow Jeopardy        - Julia Zellweger
Jeopardy Encino        - Julia Zellweger
Lambs Cincinatti       - Julia Zellweger
Majestic Floats        - Julia Zellweger
Minds Truman           - Julia Zellweger
Open African           - Julia Zellweger
Outlaw Hanky           - Julia Zellweger
Panky Submarine        - Julia Zellweger
Rider Caddyshack       - Julia Zellweger
Won Dares              - Julia Zellweger
Wyoming Storm          - Julia Zellweger